:root {
  /* ===== CORES PRINCIPAIS ===== */
  --cor-primaria: #009966;
  --cor-destaque: #00d492;

  /* ===== CORES DE TEXTO ===== */
  --texto-branco: #ffffff;
  --texto-claro: #e5e7eb;
  --texto-cinza: #99a1af;
  --texto-cinza-claro: #d1d5dc;
  --texto-verde-claro: #d0fae5;

  /* ===== CORES DE TITULOS ===== */
  --titulo-escuro: #101828;

  /* ===== CORES DE PARÁGRAFOS ===== */
  --paragrafo-escuro: #4a5565;

  /* ===== CORES DE NAVEGAÇÃO ===== */
  --nav-links: #364153;

  /* ===== BACKGROUNDS ===== */
  --bg-escuro: #101828;
  --bg-card: #1e2939;

  /* ===== BOTÕES ===== */
  --botao-primario-bg: #009966;
  --botao-primario-texto: #ffffff;

  --botao-outline-borda: #ffffff;
  --botao-outline-texto: #ffffff;

  /* ===== SOMBRAS ===== */
  --sombra-card: #000000;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}